/* General Use style*/
.tab-pane{
    -fx-base: #0B234C;
    -fx-font-weight: bold;
}

#majorTitles{
    -fx-font-family: "Courier New";
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#buttonSelector{
    -fx-base: #FFCD99;
    -fx-text-fill: #43332e;
    -fx-font-weight: lighter;
    -fx-font-family: Impact;
    -fx-font-size: 20;
}

/* Widgets styles*/
#indicator{
    -fx-font-family: Verdana;
    -fx-font-size: 20;
    -fx-text-fill: whitesmoke;
    -fx-base: #280000;
    -fx-focus-color: #1c0000;
    -fx-border-color: #110000;
    -fx-border-width: 3;
}

#batteries{
    -fx-prompt-text-fill: seashell;
    -fx-font-size: 14;
}

.toggle-button {
    -fx-base: crimson;
    -fx-text-fill: seashell;
}

.toggle-button:selected{
    -fx-base: forestgreen;
    -fx-text-fill: black;
}

/* Morse styles */
#morseInput{
    -fx-background-color: linear-gradient(to bottom, #C57A29, #E1CF4A, #C57A29);
    -fx-prompt-text-fill: #191919;
    -fx-text-fill: black;
}

#morseOutputs{
    -fx-base: black;
    -fx-prompt-text-fill: #d4d4d4;
    -fx-text-fill: #dd8932;
    -fx-font-family: Consolas;
}

/* Password styles*/
#passwordInputs{
    -fx-background-color: #A0FF03;
    -fx-text-fill: #191919;
    -fx-font-size: 14;
    -fx-font-family: Consolas;
    -fx-border-color: #0e132f;
    -fx-border-width: 2;
}